.header-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.banner-container {
  margin-left: 42vw;
}

.banner-link {
  text-decoration: none;
}

.banner {
  margin: 0;
  color: #000;
}

.link-container {
  margin-left: 35vw;
}


